- content_for :javascript do
  =# javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js'
  =# javascript_include_tag 'jcountdown/jquery.jcountdown.js'
  =# javascript_include_tag 'jcountdown/jquery.jcountdown-init.js'

  = stylesheet_link_tag 'jquery.countdown-1.6.3/jquery.countdown.css'
  = javascript_include_tag 'jquery.countdown-1.6.3/jquery.countdown.min.js', 'jquery.countdown-1.6.3/jquery.countdown-es.js'
  = javascript_include_tag 'jquery.countdown-1.6.3/jquery.countdown-init.js'

#slider
  = render 'bootstrap3_carousel'

#slider-bottom.region-outer
  .container
    .region
      .region-inner
        %p
          ¿La pasaste bien en la vendimia? Entonces no te puedes perder <b>El Envero</b>

%section#info.region-outer.region-default
  .container
    .region
      .region-inner
        = image_tag '/assets/img-uvas.jpg'
        %h2.title EL ENVERO
        %p
          Envero es un término empleado en Viticultura para indicar una de las fases del ciclo de maduración de la uva. El envero produce un cambio en el color de las uvas, de forma que las variedades tintas se colorean pigmentos rojos y azulados, mientras que las variedades blancas se vuelven rubias o amarillas.

%section#entradas.region-outer.region-default
  .container
    .region
      .region-inner
        %i.icon.patone
        %h2.title ENTRADAS
        %p
          Consigue tus entradas escribiéndonos al correo electrónico
          info@enveroelsarcay.com o comunicándote con nosotros mediante el Facebook.
          %br
          %br
          10:00pm
          %br
          Capacidad Limitada
          %br
          Dresscode: Sport Elegante
          %br
          Mujeres mayores de 24
          %br
          Hombres mayores de 26

%section#boxes.region-outer.region-default
  .container
    .region
      .region-inner
        %i.icon.champagne
        %h2.title BOXES
        %p
          Reserva de BOXES mediante el correo electrónico boxes@enveroelsarcay.com
          %br
          CAPACIDAD LIMITADA.
          %br
          %br
          Contenido:
          %ul.circle.boxes
            %li 10 entradas
            %li 2 botellas PISCO “El Sarcay de Azpitia”
            %li 1 botella Whisky 12 Años
            %li 1 botella de Vodka o Ron
            %li 5 Cervezas
            %li 5 Red Bull
            %li INSUMOS ILIMITADOS
            %li ATENCION PERSONALIZADA
          = link_to 'Ver ubicación de los boxes', '#boxes-modal', class: 'btn-custom', :'data-toggle' => 'modal'


%section#hayrodj.region-outer.region-default
  .container
    .region
      .region-inner
        %i.icon.headphones
        %h2.title HAYRO DJ
        %p
          Nombre fundamental de la movida nocturna limeña; un profesional con
          más de quince años mezclando buena música para las mejores fiestas, nos hará
          disfrutar de una noche inolvidable.
        = render 'soundcloud'




%section#auspiciadores.region-outer
  .container
    .region
      .region-inner
        %h2.title Auspiciadores

        - @auspiciadores.each_slice(6) do |auspiciador|
          .item-wrapper
            - auspiciador.each do |auspiciador|
              .item
                = image_tag auspiciador.logo_url(:medium)



%section#mapa.region-outer
  = render 'shared/mapa'


%section#video.region-outer
  .container
    .region
      .region-inner
        %h2.title VIDEO DE LA VENDIMIA "EL SARCAY DE AZPITIA"

        .item-wrapper
          = render 'shared/video'


%section#siguenos.region-outer
  .container
    .region
      .region-inner
        %h2.title SÍGUENOS EN FACEBOOK

        .item-wrapper
          = render 'shared/facebook_likebox'












