%ul.social-footer.clearfix
  %li
    = link_to content_tag(:i, '', class: 'icon iphone'), '', target: '_blank'
    %p
      998876665 | 998876665 | 998876665
      %br
      998876665 | 998876665

  %li
    = link_to content_tag(:i, '', class: 'icon facebook'), '', target: '_blank'
    %p
      = link_to 'fb.com/enveroelsarcay', '', target: '_blank'

  %li
    = link_to content_tag(:i, '', class: 'icon mail'), '', target: '_blank'
    %p
      = link_to 'info@enveroelsarcay.com', '', target: '_blank'

  %li
    = link_to content_tag(:i, '', class: 'icon map'), '', target: '_blank'
    %p
      Jockey Club, Puerta 99
      %br
      Surco, Lima.
