%ul.social-footer.clearfix
  %li
    = link_to content_tag(:i, '', class: 'icon iphone'), '', target: '_blank'
    %p
      997146882 | 965078610

  %li
    = link_to content_tag(:i, '', class: 'icon facebook'), '', target: '_blank'
    %p
      = link_to 'Página oficial en Facebook', 'https://www.facebook.com/pages/Vendimia-El-Sarcay-De-Azpitia/493041694077233', target: '_blank'

  %li
    = link_to content_tag(:i, '', class: 'icon mail'), '', target: '_blank'
    %p
      = link_to 'info@enveroelsarcay.com', 'mailto:info@enveroelsarcay.com'
      = link_to 'boxes@enveroelsarcay.com', 'mailto:boxes@enveroelsarcay.com'

  %li
    = link_to content_tag(:i, '', class: 'icon map'), '', target: '_blank'
    %p
      Jockey Club Monterrico
      %br
      Puerta 3.
