
= render 'layouts/html'

%body{id: bodyid, class: bodyclass}


  %header#main-header
    .container
      .region
        #logo.region-inner
          %h1
            = link_to image_tag('logo.png', class: 'img-responsive', alt: 'El Sarcay')
        .region-inner.primary-side
          %p Fiesta El Envero - El Sarcay de Azpitia

        .region-inner.secondary-side
          %p 6 de Diciembre
          = render 'shared/social_header'


  #content
    = yield

  %footer#main-footer
    .container
      .region
        = render 'shared/social_footer'
      .region.kosmyka
        = link_to 'Diseño Web por Kosmyka', 'http://www.kosmyka.com', :target => '_blank'
        = image_tag '/assets/logo-kosmyka-rocket.png'



  = render 'inicio/bootstrap3_modal'
  = javascript_include_tag 'application'
  = yield :javascript

  = render 'shared/google_analytics'
